/* Ben Collins */

body {
	color: black;
	background-color: white;
}

h1, h2, h3 {
	font-family: Playfair Display, Merriweather, serif;
	color: black;
}

nav {
	display: none;
}

main img {
	display: none;
}

section {
	display: flex;
	flex-direction: column;
}

article section {
	display: none;
}

table {
	color: black;
}

button {
	display: none;
}

form {
	display: none;
}